<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981851456703-63cllnkhjh9sm763gt01fp5ae988h4cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981851456703-63cllnkhjh9sm763gt01fp5ae988h4cr</string>
	<key>API_KEY</key>
	<string>AIzaSyAP9Qkm10F-i76F92GFcHaTDLeM9ELcnZE</string>
	<key>GCM_SENDER_ID</key>
	<string>981851456703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YBMW.Maze-Snake1</string>
	<key>PROJECT_ID</key>
	<string>maze-project-a9790</string>
	<key>STORAGE_BUCKET</key>
	<string>maze-project-a9790.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981851456703:ios:3670166e3a81763f</string>
	<key>DATABASE_URL</key>
	<string>https://maze-project-a9790.firebaseio.com</string>
</dict>
</plist>